@import "./global";


.courses-title{
    text-align: center;
    padding: $xl-5;
    padding-top: 150px;
    .title{
        margin: 0;
    }
}
a{
    text-decoration: none;
    color: $text-color;
}
.courses-menu{
    row-gap:$md ;
  .flex{
    gap:$xll;
    @media (max-width:996px){
    column-gap: $xl-3;
    row-gap: $md;
    }
  } 
    .search{
        height:$xl-4;
        border-radius: 4px;
        border: 1px solid #D7DADD;
        &__input{
            height: 95%;
            padding-left: $sm;
           border: none;
        }
        &__button{
            height: 95%;
           border: none; 
           background-color: $white;
        }
    }
}
.catalog{
    @include grid(repeat(3, 1fr), $xl-3);
    padding: $xll 0;
    .catalog-card{
        box-shadow: $shadow;
        .catalog-card__img{
            width: 100%;
        }
        .catalog-card__body{
            padding: $xl-3;
            button{
                border: none;
                border-radius: 4px;
                padding: 5px;
                color: $white;
                background-color: #03CEA4;
            }
            .btn-management{
                background-color:#5A87FC;
            }
            .btn-design{
                background-color: $primary;
            }
            .btn-hr{
                background-color: #F89828;
            }
            b{
                display: block;
                margin: $xl-1 0;
            }
        }
    }
}
.courses-load{
    @include flex (row, 5px);
   justify-content: center;
    margin-bottom: $xll-1;
}

@media(max-width:767px){
  
    .catalog{
        @include grid(repeat(2, 1fr), $sm);
        .catalog-card{
            img{
                width: 100%;
            }
        }
    }
}

@media (max-width:576px){
    .catalog{
        @include grid(repeat(1, 1fr), $sm); 
    }
}