@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  font-family: "Lato";
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 90%;
  max-width: 1230px;
  margin: 0 auto;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button {
  cursor: pointer;
}

.like-button {
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  border: none;
  padding: 15px 35px;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}
.like-button:hover {
  background: transparent;
  background-color: #fff;
  color: #1E212C;
  box-shadow: 2px 3px 5px #333;
}

.btn {
  border: 1px solid #FF3F3A;
  padding: 15px 35px;
  background: inherit;
  margin-right: 15px;
  cursor: pointer;
  transition: all 0.3;
}
.btn:hover {
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  color: #fff;
}

i {
  margin: 5px;
}

ul {
  list-style: none;
  padding-left: 0;
}

p {
  line-height: 150%;
  margin: 0;
  padding: 0;
}

.title {
  font-size: 45px;
  font-weight: 700;
  color: #1E212C;
  margin-top: 0;
}

.desc-text {
  font-size: 20px;
  font-weight: 600;
  color: #1E212C;
}

.price {
  color: #ff4242;
  font-size: 18px !important;
  font-weight: 700;
}

.span {
  font-size: 10px;
  color: #787A80;
}

input:focus {
  box-shadow: inset 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  outline: 3px solid rgba(0, 0, 255, 0.504);
}

.my-input {
  border: none;
  padding: 15px;
  width: 200px;
  outline: none;
}

.modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(97, 84, 84, 0.8);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  display: none;
}
.modal .modal-form {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: space-between;
  padding: 30px;
  width: 350px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
}
.modal .close {
  padding: 4px;
  margin-left: auto;
  background-color: #fff;
  border: none;
  cursor: pointer;
}
.modal .form-head {
  text-align: center;
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  gap: strech;
}
.modal .my-input {
  width: 100%;
  border: 1px solid;
  padding: 10px 20px;
  margin: 10px 0;
}
.modal .error {
  font-size: 15px;
  color: #FF3F3A;
}
.modal .like-button {
  margin: 20px 0;
}
.modal a {
  color: #FF3F3A;
}

.show {
  display: block !important;
}

#arrowTop {
  height: 10px;
  width: 15px;
  color: green;
  position: fixed;
  bottom: 45px;
  right: 20px;
  cursor: pointer;
}
#arrowTop::before {
  content: "▲";
}

@media (max-width: 992px) {
  .container {
    width: 90%;
  }
  .like-button {
    padding: 10px 18px;
  }
  .btn {
    padding: 9px 20px;
  }
}
@media (max-width: 767px) {
  .flex {
    flex-wrap: wrap;
  }
  .my-input {
    width: 100px;
  }
}
@media (max-width: 576px) {
  .title {
    font-size: 30px;
  }
  .desc-text {
    font-size: 18px;
  }
  .btn {
    padding: 10px 20px;
  }
}
* {
  box-sizing: border-box;
  font-family: "Lato";
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 90%;
  max-width: 1230px;
  margin: 0 auto;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button {
  cursor: pointer;
}

.like-button {
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  border: none;
  padding: 15px 35px;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}
.like-button:hover {
  background: transparent;
  background-color: #fff;
  color: #1E212C;
  box-shadow: 2px 3px 5px #333;
}

.btn {
  border: 1px solid #FF3F3A;
  padding: 15px 35px;
  background: inherit;
  margin-right: 15px;
  cursor: pointer;
  transition: all 0.3;
}
.btn:hover {
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  color: #fff;
}

i {
  margin: 5px;
}

ul {
  list-style: none;
  padding-left: 0;
}

p {
  line-height: 150%;
  margin: 0;
  padding: 0;
}

.title {
  font-size: 45px;
  font-weight: 700;
  color: #1E212C;
  margin-top: 0;
}

.desc-text {
  font-size: 20px;
  font-weight: 600;
  color: #1E212C;
}

.price {
  color: #ff4242;
  font-size: 18px !important;
  font-weight: 700;
}

.span {
  font-size: 10px;
  color: #787A80;
}

input:focus {
  box-shadow: inset 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  outline: 3px solid rgba(0, 0, 255, 0.504);
}

.my-input {
  border: none;
  padding: 15px;
  width: 200px;
  outline: none;
}

.modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(97, 84, 84, 0.8);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  display: none;
}
.modal .modal-form {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: space-between;
  padding: 30px;
  width: 350px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
}
.modal .close {
  padding: 4px;
  margin-left: auto;
  background-color: #fff;
  border: none;
  cursor: pointer;
}
.modal .form-head {
  text-align: center;
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  gap: strech;
}
.modal .my-input {
  width: 100%;
  border: 1px solid;
  padding: 10px 20px;
  margin: 10px 0;
}
.modal .error {
  font-size: 15px;
  color: #FF3F3A;
}
.modal .like-button {
  margin: 20px 0;
}
.modal a {
  color: #FF3F3A;
}

.show {
  display: block !important;
}

#arrowTop {
  height: 10px;
  width: 15px;
  color: green;
  position: fixed;
  bottom: 45px;
  right: 20px;
  cursor: pointer;
}
#arrowTop::before {
  content: "▲";
}

@media (max-width: 992px) {
  .container {
    width: 90%;
  }
  .like-button {
    padding: 10px 18px;
  }
  .btn {
    padding: 9px 20px;
  }
}
@media (max-width: 767px) {
  .flex {
    flex-wrap: wrap;
  }
  .my-input {
    width: 100px;
  }
}
@media (max-width: 576px) {
  .title {
    font-size: 30px;
  }
  .desc-text {
    font-size: 18px;
  }
  .btn {
    padding: 10px 20px;
  }
}
.courses-title {
  text-align: center;
  padding: 45px;
  padding-top: 150px;
}
.courses-title .title {
  margin: 0;
}

a {
  text-decoration: none;
  color: #1E212C;
}

.courses-menu {
  row-gap: 15px;
}
.courses-menu .flex {
  gap: 60px;
}
@media (max-width: 996px) {
  .courses-menu .flex {
    -moz-column-gap: 30px;
         column-gap: 30px;
    row-gap: 15px;
  }
}
.courses-menu .search {
  height: 35px;
  border-radius: 4px;
  border: 1px solid #D7DADD;
}
.courses-menu .search__input {
  height: 95%;
  padding-left: 10px;
  border: none;
}
.courses-menu .search__button {
  height: 95%;
  border: none;
  background-color: #fff;
}

.catalog {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  padding: 60px 0;
}
.catalog .catalog-card {
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
}
.catalog .catalog-card .catalog-card__img {
  width: 100%;
}
.catalog .catalog-card .catalog-card__body {
  padding: 30px;
}
.catalog .catalog-card .catalog-card__body button {
  border: none;
  border-radius: 4px;
  padding: 5px;
  color: #fff;
  background-color: #03CEA4;
}
.catalog .catalog-card .catalog-card__body .btn-management {
  background-color: #5A87FC;
}
.catalog .catalog-card .catalog-card__body .btn-design {
  background-color: #FF3F3A;
}
.catalog .catalog-card .catalog-card__body .btn-hr {
  background-color: #F89828;
}
.catalog .catalog-card .catalog-card__body b {
  display: block;
  margin: 18px 0;
}

.courses-load {
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: center;
  margin-bottom: 80px;
}

@media (max-width: 767px) {
  .catalog {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
  .catalog .catalog-card img {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .catalog {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
  }
}
* {
  box-sizing: border-box;
  font-family: "Lato";
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 90%;
  max-width: 1230px;
  margin: 0 auto;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button {
  cursor: pointer;
}

.like-button {
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  border: none;
  padding: 15px 35px;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}
.like-button:hover {
  background: transparent;
  background-color: #fff;
  color: #1E212C;
  box-shadow: 2px 3px 5px #333;
}

.btn {
  border: 1px solid #FF3F3A;
  padding: 15px 35px;
  background: inherit;
  margin-right: 15px;
  cursor: pointer;
  transition: all 0.3;
}
.btn:hover {
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  color: #fff;
}

i {
  margin: 5px;
}

ul {
  list-style: none;
  padding-left: 0;
}

p {
  line-height: 150%;
  margin: 0;
  padding: 0;
}

.title {
  font-size: 45px;
  font-weight: 700;
  color: #1E212C;
  margin-top: 0;
}

.desc-text {
  font-size: 20px;
  font-weight: 600;
  color: #1E212C;
}

.price {
  color: #ff4242;
  font-size: 18px !important;
  font-weight: 700;
}

.span {
  font-size: 10px;
  color: #787A80;
}

input:focus {
  box-shadow: inset 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  outline: 3px solid rgba(0, 0, 255, 0.504);
}

.my-input {
  border: none;
  padding: 15px;
  width: 200px;
  outline: none;
}

.modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(97, 84, 84, 0.8);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  display: none;
}
.modal .modal-form {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: space-between;
  padding: 30px;
  width: 350px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
}
.modal .close {
  padding: 4px;
  margin-left: auto;
  background-color: #fff;
  border: none;
  cursor: pointer;
}
.modal .form-head {
  text-align: center;
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  gap: strech;
}
.modal .my-input {
  width: 100%;
  border: 1px solid;
  padding: 10px 20px;
  margin: 10px 0;
}
.modal .error {
  font-size: 15px;
  color: #FF3F3A;
}
.modal .like-button {
  margin: 20px 0;
}
.modal a {
  color: #FF3F3A;
}

.show {
  display: block !important;
}

#arrowTop {
  height: 10px;
  width: 15px;
  color: green;
  position: fixed;
  bottom: 45px;
  right: 20px;
  cursor: pointer;
}
#arrowTop::before {
  content: "▲";
}

@media (max-width: 992px) {
  .container {
    width: 90%;
  }
  .like-button {
    padding: 10px 18px;
  }
  .btn {
    padding: 9px 20px;
  }
}
@media (max-width: 767px) {
  .flex {
    flex-wrap: wrap;
  }
  .my-input {
    width: 100px;
  }
}
@media (max-width: 576px) {
  .title {
    font-size: 30px;
  }
  .desc-text {
    font-size: 18px;
  }
  .btn {
    padding: 10px 20px;
  }
}
.about-main {
  padding-bottom: 60px;
  padding-top: 150px;
}
.about-main__left {
  width: 50%;
  padding-left: 60px;
}
.about-main__left p {
  margin: 18px 0;
  color: #424551;
}
.about-main__right img {
  width: 100%;
}

.about-statistics {
  padding: 60px 0;
}
.about-statistics__left {
  width: 70%;
}
.about-statistics__left .play {
  margin: 10px;
  border: none;
  background-color: inherit;
  transition: all 0.3s;
}
.about-statistics__left .play:hover {
  transform: scale(1.2);
  border: 1px solid #FF3F3A;
}
.about-statistics__left img {
  width: 100%;
}
.about-statistics__right .about-list__item {
  display: flex;
  align-items: center;
  margin: 35px;
  font-size: 18px;
  font-weight: 700;
  color: #1E212C;
}
.about-statistics__right .about-list__item b {
  margin-right: 5px;
  font-size: 35px;
  color: #FF3F3A;
}

.values {
  padding: 60px 0;
  text-align: center;
}
.values .value {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: space-between;
  align-items: center;
}
.values .value__img {
  width: 10%;
}
.values .value__title {
  margin: 10px 0;
}
.values .vertical-line {
  width: 1px;
  height: 80%;
  background-color: #DADBDD;
}

.about-cards {
  padding: 60px 0;
}
.about-cards .head {
  text-align: center;
}
.about-cards__inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
.about-cards__inner .card {
  border: 1px solid #E5E5E5;
  border-radius: 4px;
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
}
.about-cards__inner .card img {
  width: 100%;
}
.about-cards__inner .card__text {
  padding: 20px;
}
.about-cards__inner .card__text p {
  margin: 10px 0;
}
.about-cards__inner .card__text button {
  border: none;
  border-radius: 4px;
  padding: 5px;
  color: #fff;
  background-color: #03CEA4;
}
.about-cards__inner .card__text .btn-management {
  background-color: #5A87FC;
}
.about-cards__inner .card__text .btn-design {
  background-color: #FF3F3A;
}
.about-cards__inner .card__text .btn-hr {
  background-color: #F89828;
}
.about-cards__inner .card__text .btn-dev {
  background-color: #5A87FC;
}
.about-cards__inner .card__text b:hover {
  color: #FF3F3A;
}
.about-cards__inner .card-new {
  background-color: #f4f5f7;
  padding: 124px 80px;
  text-align: center;
}

.process {
  padding: 80px 0;
}
.process__content {
  width: 50%;
}
.process__step {
  padding: 18px;
  color: #1E212C;
  border-left: 1px solid #424551;
  position: relative;
}
.process__step h4 {
  margin: 10px 0;
}
.process__step .circle {
  width: 10px;
  height: 10px;
  background-color: #FF3F3A;
  border-radius: 50%;
  position: absolute;
  left: -1%;
  top: 0;
}
.process__img img {
  width: 100%;
}

.team {
  text-align: center;
  padding: 60px 0;
}
.team .team-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}
.team .team-grid__item .team-img {
  padding: 10px 10px 0 10px;
  position: relative;
  background-color: #FFCF2D;
}
.team .team-grid__item .team-img img {
  vertical-align: bottom;
  width: 100%;
}
.team .team-grid__item .team-img .cosial {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: display 0.9s;
  background: linear-gradient(180deg, rgba(30, 33, 44, 0) 43.9%, rgba(30, 33, 44, 0.03) 55.21%, rgba(30, 33, 44, 0.33) 68.73%, rgba(30, 33, 44, 0.56) 76.17%, rgba(30, 33, 44, 0.768225) 83.75%, rgba(30, 33, 44, 0.92) 91.49%, #1E212C 100%);
}
.team .team-grid__item .team-img .cosial .icons {
  position: absolute;
  right: 5%;
  bottom: 5%;
}
.team .team-grid__item .team-img:hover .cosial {
  display: block;
}

@media (max-width: 992px) {
  .about-main__left {
    padding-left: 35px;
  }
  .about-statistics__left {
    width: 60%;
  }
  .about-statistics__right .about-list__item {
    margin: 20px;
    font-weight: 400;
  }
  .about-statistics__right .about-list__item b {
    font-size: 20px;
    color: #FF3F3A;
  }
  .team .team-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
}
@media (max-width: 767px) {
  .about-main__left {
    width: 90%;
    margin-bottom: 60px;
  }
  .about-statistics {
    padding: 18px;
  }
  .about-statistics__left {
    width: 100%;
  }
  .about-statistics__right {
    width: 100%;
  }
  .about-cards__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 18px;
  }
  .process__content {
    width: 100%;
    margin: 18px 0;
  }
  .process__step {
    padding: 15px;
  }
  .team .team-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 18px;
  }
}
@media (max-width: 576px) {
  .about-statistics {
    padding: 0;
  }
  .about-cards__inner {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 18px;
  }
  .team .team-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 18px;
  }
}
.header {
  margin-bottom: -130px;
  padding: 35px 0;
}
.header__logo {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.header__logo:hover {
  cursor: pointer;
}
.header .navbar {
  width: 80%;
}
.header .navbar__item {
  position: relative;
  display: inline-block;
  margin-right: 35px;
  font-weight: 700;
  color: #1E212C;
  text-decoration: none;
  transition: all 0.3s;
}
.header .navbar__item::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: #FF3F3A;
  position: absolute;
  left: 0;
  top: 20px;
  transition: width 0.3s;
}
.header .navbar__item:hover {
  color: #FF3F3A;
}
.header .navbar__item:hover::after {
  width: 100%;
}
.header .navbar__item--active {
  color: #FF3F3A;
}
.header .navbar__button {
  padding: 0;
  border: none;
  background-color: inherit;
  cursor: pointer;
}
.header .navbar__button:hover {
  color: #FF3F3A;
}
.header .navbar__button--login {
  padding: 5px 3px;
  display: flex;
  align-items: center;
  margin: 0 7px;
}
.header .navbar__button--login i {
  margin-right: 2px;
}
.header__burger {
  border: 2px solid #FF3F3A;
  border-radius: 4px;
  display: none;
  font-size: 25px;
  background-color: inherit;
}

.main-head {
  background-image: url(../images/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 60px 0;
  padding-top: 150px;
}
.main-head__left {
  padding-right: 100px;
}
.main-head__left .play {
  border: none;
  background-color: inherit;
  transition: all 0.3s;
}
.main-head__left .play:hover {
  transform: scale(1.2);
  border: 1px solid #FF3F3A;
}
.main-head__left .main-head__title {
  margin: 10px 0 45px 0;
  font-size: 60px;
}
.main-head button {
  margin-top: 5px;
}

.statistics {
  padding: 60px 0;
}
.statistics .dotted {
  width: 8px;
  height: 8px;
  background-color: #FF3F3A;
  border-radius: 50%;
}
@media (max-width: 990px) {
  .statistics .dotted {
    display: none;
  }
}
.statistics__item {
  color: #1E212C;
}
.statistics .statistics__count {
  font-size: 45px;
  margin-right: 5px;
}

.about {
  padding: 80px 0;
}
.about__img img {
  width: 100%;
}
.about__content {
  margin-left: 80px;
}
.about__ul {
  margin-bottom: 35px;
}
.about__ul .about__list {
  margin-bottom: 10px;
  line-height: 160%;
  display: flex;
  align-items: flex-start;
}
.about__ul .about__list img {
  margin: 5px 5px 5px 0;
}

.courses {
  padding: 45px 0;
}
.courses__head {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 45px;
}
.courses__head .title {
  margin: 0;
}
@media (max-width: 996px) {
  .courses__head .btn {
    margin-bottom: 6px;
  }
}
.courses .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}
.courses .grid .card {
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
}
.courses .grid .card__content {
  padding: 35px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.courses .grid .card__content .card__button {
  width: 80px;
  background-color: #03CEA4;
  color: #fff;
  border: none;
  border-radius: 4px;
}
.courses .grid .card__content .card__desc {
  font-size: 20px;
}
.courses .grid .card__content .card__footer {
  margin-top: 20px;
}
.courses .grid .card__content .card__footer span :nth-child(2) {
  font-size: 20px;
  color: #787A80;
}

.benefits {
  padding: 60px 0;
}
.benefits .title, .benefits .desc-text {
  text-align: center;
}
.benefits__items {
  display: flex;
  flex-direction: row;
  gap: 60px;
  align-items: center;
}
.benefits__items .flex {
  margin: 0 !important;
}
.benefits__inner {
  margin: 80px 0;
}
.benefits__inner .benefits__left {
  padding-right: 80px;
}
.benefits__inner .benefits__left h3 {
  font-size: 30px;
  color: #1E212C;
}
.benefits__inner .benefits__left p {
  color: #424551;
  line-height: 158%;
}

.events {
  background: linear-gradient(55.95deg, rgba(255, 64, 58, 0.262745098) 0%, rgba(247, 94, 5, 0.2235294118) 100%);
  padding: 60px 0;
}
.events .title, .events .desc-text {
  text-align: center;
}
.events__item {
  display: flex;
  align-items: center;
  background-color: #fff;
  margin: 18px;
  padding: 30px 35px;
}
.events__item .event-text {
  margin-left: 60px;
}
.events__item .price {
  margin-right: 10px;
}
.events__item .btn {
  margin-left: auto;
}
.events__item .btn:hover {
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  cursor: pointer;
}
.events__bottom {
  margin-top: 60px;
  text-align: center;
}
.events__bottom .like_button {
  margin-left: 10px;
}

.certificat-blog {
  padding: 60px 18px;
  position: relative;
}
.certificat-blog__content {
  width: 30%;
}
@media (max-width: 996px) {
  .certificat-blog__content {
    width: 90%;
    margin-bottom: 30px;
  }
}
.certificat-blog__logos {
  margin-top: 60px;
}
.certificat-blog .certificat {
  position: absolute;
  right: 0;
  top: 13%;
  z-index: 2;
}
@media (max-width: 1140px) {
  .certificat-blog .certificat {
    width: 70%;
    top: 20%;
  }
  .certificat-blog .certificat img {
    width: 100%;
  }
}
@media (max-width: 996px) {
  .certificat-blog .certificat {
    position: static;
    width: 100%;
  }
}

.carousels {
  background-color: #F4F5F6;
  padding: 80px;
}
.carousels .carousel-team {
  margin-bottom: 60px;
}
.carousels .carousel-team .title {
  margin-bottom: 45px;
}
.carousels .carousel-team__card img {
  background-color: #FFCF2D;
}
.carousels .carousel-team__card b {
  display: block;
}
.carousels .carousel-team .swiper-button-next:after,
.carousels .carousel-team .swiper-button-prev:after {
  content: unset;
}
.carousels .carousel-team .arrow-left {
  margin-right: 15px;
  top: 15%;
  left: 85%;
  border-radius: 50%;
  padding: 0 22px;
}
.carousels .carousel-team .arrow-right {
  top: 15%;
  right: 5%;
  border-radius: 50%;
  padding: 0 22px;
}
.carousels .carousel-team .arrow-left:hover,
.carousels .carousel-team .arrow-right:hover {
  background-color: #FF3F3A;
  color: white;
}

.carousel-testimonial {
  text-align: center;
  background-color: #F4F5F6;
  padding: 30px 100px !important;
}
.carousel-testimonial .swiper-button-prev, .carousel-testimonial .swiper-button-next {
  color: #000000;
  top: 60%;
  border-radius: 50%;
  padding: 0 20px;
}
.carousel-testimonial .swiper-button-prev:after, .carousel-testimonial .swiper-button-next:after {
  content: unset;
}
.carousel-testimonial .swiper-button-prev:hover, .carousel-testimonial .swiper-button-next:hover {
  background-color: #FF3F3A;
  color: #fff;
}
.carousel-testimonial .swiper-button-prev {
  left: 0;
}
.carousel-testimonial .swiper-button-next {
  right: 0;
}
.carousel-testimonial .swiper-pagination {
  bottom: 0;
}
.carousel-testimonial .swiper-pagination-bullet {
  width: 15px;
  height: 3px;
  background-color: #FF3F3A;
}
.carousel-testimonial .testimonial {
  background-color: #fff;
  width: 80%;
  margin: 45px auto;
  border-radius: 4px;
  padding: 60px;
  text-align: left;
}
.carousel-testimonial .testimonial__text {
  align-items: flex-start;
}
.carousel-testimonial .testimonial .user {
  margin-top: 10px;
  justify-content: flex-start;
}
.carousel-testimonial .testimonial .user .user-name {
  margin: 0 10px;
}

.blog {
  padding: 100px 0;
}
.blog__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.blog__cards .blog-card {
  position: relative;
}
.blog__cards .blog-card img {
  width: 100%;
  transition: transform 0.3s;
}
.blog__cards .blog-card img:hover {
  transform: translateY(-5px);
}
.blog__cards .blog-card__btn {
  background-color: #fff;
  border-radius: 4px;
  border: none;
  position: absolute;
  left: 10px;
  top: 10px;
}
.blog__cards .blog-card__data {
  margin: 15px 0;
}
.blog__cards .blog-card .blog--title {
  font-size: 20px;
  line-height: 150%;
  color: #1E212C;
}
.blog__cards .blog-card .blog--link {
  border: none;
  background-color: inherit;
  margin-top: 20px;
}

.contact {
  position: relative;
  background-image: linear-gradient(55.95deg, rgba(255, 64, 58, 0.262745098) 0%, rgba(247, 94, 5, 0.2235294118) 100%);
  text-align: center;
  padding-top: 80px;
}
.contact__head {
  width: 50%;
  margin: 0 auto;
}
@media (max-width: 700px) {
  .contact__head {
    width: 80%;
  }
}
.contact__form {
  padding: 45px;
}
@media (max-width: 700px) {
  .contact__form {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .contact__form .my-input {
    width: 100%;
  }
}

.footer {
  padding: 60px 0;
  background-color: #1E212C;
  color: #fff;
}
.footer a {
  color: #fff;
}
.footer a:hover {
  color: #FF3F3A;
}
.footer p {
  font-size: 12px;
  margin-bottom: 15px;
  opacity: 0.6;
}
.footer .flex {
  align-items: flex-start;
  gap: 10px;
  flex-wrap: wrap;
}
.footer__text {
  width: 25%;
}
.footer__text .logo {
  font-size: 25px;
}
.footer__lists li {
  margin-bottom: 18px;
}
.footer__form {
  width: 25%;
}
@media (max-width: 700px) {
  .footer__form {
    display: flex;
    flex-direction: column;
  }
}
.footer__form .my-input {
  background-color: rgba(255, 255, 255, 0.12);
  margin-bottom: 15px;
}
@media (max-width: 700px) {
  .footer__form .my-input {
    width: 100%;
  }
}
.footer__form .footer-button {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.12);
  border: none;
  color: #fff;
}
.footer__form .footer-button:hover {
  background-color: #fff;
  color: #FF3F3A;
}

@media (max-width: 996px) {
  .header .navbar__item {
    margin-left: 15px;
  }
  .main-head {
    padding: 60px 0;
    padding-top: 150px;
  }
  .main-head img {
    width: 100%;
  }
  .main-head__left {
    padding-right: 30px;
  }
  .main-head__left .main-head__title {
    margin-bottom: 45px;
    font-size: 60px;
  }
  .courses .grid .card {
    flex-wrap: wrap;
  }
  .courses .grid .card__img {
    width: 100%;
    text-align: center;
  }
  .courses .grid .card__img img {
    width: 80%;
  }
  .benefits {
    padding: 30px 18px;
  }
  .benefits__inner img {
    width: 100%;
  }
  .benefits__inner .benefits__left {
    width: 50%;
    padding-right: 15px;
  }
  .benefits__items {
    gap: 30px;
  }
  .benefits__items .flex {
    align-items: flex-start;
  }
  .benefits__items .flex i {
    margin: 0 5px 5px 5px;
  }
  .carousels .carousel-team .arrow-left {
    left: 81%;
  }
  .carousel-testimonial {
    padding: 30px 45px !important;
  }
}
@media (max-width: 767px) {
  .header .navbar {
    height: 100vh;
    width: 45vw;
    display: none;
    background-color: #fff;
    position: fixed;
    left: 0;
    top: 0;
    text-align: center;
  }
  .header .navbar__item {
    display: block;
    margin: 20px;
    font-size: 20px;
  }
  .header .navbar__buttons {
    flex-direction: column;
  }
  .header__burger {
    display: block;
  }
  .about .about__content {
    margin-left: 20px;
  }
  .courses .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 18px;
    margin: 18px 0;
  }
  .benefits__items {
    gap: 18px;
    flex-wrap: wrap;
  }
  .benefits__inner .benefits__left {
    width: 100%;
  }
  .carousels {
    padding: 18px;
  }
  .carousel-testimonial .flex {
    flex-wrap: nowrap;
  }
  .carousel-testimonial .testimonial {
    padding: 45px 18px;
  }
  .blog__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
  }
  .blog__cards .blog-card blog--title {
    font-size: 18px;
    line-height: 150%;
    color: #1E212C;
  }
  .blog__cards .blog-card p {
    width: 80%;
  }
  .contact .contact-img {
    display: none;
  }
  .footer__list:nth-child(4) {
    width: 40%;
  }
}
@media (max-width: 576px) {
  .header {
    padding: 45px 0;
  }
  .header__logo {
    margin: 10px;
  }
  .main-head__left {
    padding-right: 60px;
  }
  .main-head__left .main-head__title {
    font-size: 35px;
  }
  .statistics {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 60px 0;
  }
  .statistics__item {
    flex-direction: column;
  }
  .statistics__count {
    font-size: 30px;
  }
  .benefits .flex {
    margin: 30px 0;
  }
  .benefits .flex .benefits__left {
    width: 90%;
  }
  .benefits__items {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .courses .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
}
@media (max-width: 576px) and (max-width: 500px) {
  .courses .grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 15px;
  }
  .courses .grid .card__img img {
    width: 82%;
  }
}
@media (max-width: 576px) {
  .events__item {
    flex-direction: column;
    padding: 18px 15px;
    gap: 10px;
  }
  .events__item .event-text {
    margin-left: 0;
  }
  .events__item .btn {
    margin: 10px auto;
  }
  .events__bottom .like-button {
    margin-top: 10px;
  }
}
@media (max-width: 576px) {
  .certificat-blog {
    padding: 45px;
  }
  .certificat-blog__content {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .carousels .carousel-team .arrow-left {
    left: 65%;
  }
}
@media (max-width: 576px) {
  .carousel-testimonial {
    padding: 30px 10px !important;
  }
  .carousel-testimonial .swiper-button-prev {
    left: 68%;
    top: 21%;
  }
  .carousel-testimonial .swiper-button-next {
    right: 5%;
    top: 21%;
  }
}
@media (max-width: 576px) {
  .blog {
    padding: 15px 0;
  }
  .blog__cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
  }
}
@media (max-width: 576px) {
  .contact__head {
    width: 80%;
  }
}
@media (max-width: 576px) {
  .footer__text {
    width: 45%;
  }
  .footer__text .logo {
    font-size: 18px;
  }
  .footer__text .logo img {
    height: 15px;
  }
  .footer__form {
    width: 50%;
  }
  .footer__list:nth-child(4) {
    width: 50%;
  }
}
@media (max-width: 350px) {
  .carousels .carousel-team .arrow-left, .carousels .carousel-team .arrow-right {
    top: 17%;
  }
  .carousel-testimonial {
    padding: 30px 18px !important;
  }
  .footer .flex {
    flex-direction: column;
  }
  .footer__text {
    width: 90%;
  }
  .footer__list:nth-child(4) {
    width: 90%;
  }
  .footer__form {
    width: 90%;
  }
}/*# sourceMappingURL=style.css.map */